.pr-main {
    border: 1px dashed white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 111px;
    margin-right: 111px;
}

.h1-ar {
    border: 1px solid red;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.profile-username {
    border: 1px dashed white;
    /* width: 100%; */
    color: red;
}

.profile-fullname {
    color: red;
}

.profile-bio {
    border: 1px dashed white;
    text-align: center;
    color: red;
    /* width: 100%; */
}

.profile-email {
    color: red;
}

.profile-pages {
    border: 1px dashed white;
    color: red;
}

marquee {
    color:aliceblue;
}