.pr-main {
    display: grid;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.profile-username {
    color: red;
}

.profile-fullname {
    color: red;
}

.profile-bio {
    color: red;
}

.profile-email {
    color: red;
}

.profile-pages {
    color: red;
}

marquee {
    color:aliceblue;
}