.pr-main {
    border: 1px dashed white;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 77px;
    margin-right: 77px;
    padding: 10px;
}

.h1-ar {
    border: 1px solid red;
    flex-direction: column;
    display: flex;
    padding: 10px;
    width: 75%;
    align-items: flex-start;
}

.profile-username {
    border: 1px dashed white;
    /* width: 100%; */
    color: white;
}

.profile-fullname {
    color: red;
}

.profile-bio {
    border: 1px dashed white;
    color: white;
    /* width: 100%; */
}

.profile-email {
    color: red;
}

.profile-pages {
    border: 1px dashed white;
    color: red;
}

marquee {
    color:aliceblue;
}