.enter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn {
    transition: 0.3s ease;
}

.btn:hover {
    transform: scale(1.1);
}
