.fp-section {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    width: 75%;
}

.card {
    border: 1px solid red;
    margin: 10px 0 10px 0;
}

#fp-link {
    color: var(--text-white);
}