.fp-section {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    width: 75%;
}

.card {
    border: 1px solid red;
    padding: 2px;;
    margin: 10px 5px 10px 5px;
}

#fp-link {
    color: var(--text-white);
}

@media only screen
and (min-width : 0px)
and (max-width : 684px) {
  .fp-section {
    width: 95%;
}
}