.navbar {
  /* border: 1px dashed red; */
  /* background-image: linear-gradient(rgb(77, 77, 77), black); */
  background-image: linear-gradient(darkred, black);
  padding-left: 20px;
  padding-right: 20px;
  height: 77px;
  display: flex;
  align-items: center;
  justify-content: center;
} 


.krezzed {
  width: 60px;
}

.currenttime {
  color: var(--text-white);
}

.link-con {
  display: flex;
  text-align: center;
  width: 50%;
  justify-content: space-between;
}
.link-con-loggedout {
  display: flex;
  text-align: center;
  width: 50%;
  justify-content: center;
}
.page-link-con {
  display: flex;
  text-align: center;
  width: 50%;
  justify-content: space-between;

}
.page-link-con-loggedout {
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: space-between;
}


@media only screen
and (min-width : 0px)
and (max-width : 1024px) {
  .link-con {
    width: 85%;
    align-items: center;
    justify-content: space-between;
}
}

@media only screen
and (min-width : 0px)
and (max-width : 1024px) {
  .link-con-loggedout {
    width: 85%;
    align-items: center;
    justify-content: center;
}
}
  
/* .nav-p {
  border: 1px dashed white;
  padding: 5px 5px 5px 5px;
  margin-left: 50px;
  margin-right: 50px;
} */

#nav-p-user:hover {
  background-image: url('../../assets/backgrounds/bg-27.gif');
  color: var(--text-white);
  text-shadow: 1px 1px 1px black;;
}

/* #nav-p-log:hover {
  background-image: url('../../assets/backgrounds/staticbackground-1.gif');
  color: var(--text-white);
  text-shadow: 1px 1px 1px black;;
} */

#edit-link {
  color: var(--text-red);
}
#create-link {
  color: var(--text-red);
}
#login-link {
  color: var(--text-red);
}
#logout-link {
  color: var(--text-red)
}
#profile-link {
  color: var(--text-red);
}

#login-link:hover {
  color: var(--text-white);
  text-shadow: 1px 1px 1px black;;
}


#profile-link:hover {
  color: var(--text-white);
  text-shadow: 1px 1px 1px black;;
}


#logout-link:hover {
  color: var(--text-white);
  text-shadow: 1px 1px 1px black;;
}
