.navbar {
  /* border: 1px dashed red; */
  background-image: linear-gradient(rgb(99, 0, 0), black);
  padding-left: 20px;
  padding-right: 20px;
  height: 77px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.edit-out {
  display: flex;
}

.currenttime {
  color: var(--text-white);
}

@media only screen
and (min-width : 480px)
and (max-width : 1024px) {
  .navbar {
    padding: 0;
}
}

#navbar {
  display: flex;
}

#nav-links {
  display: flex;
}
  
.nav-p {
  border: 1px dashed white;
  padding: 5px 5px 5px 5px;
  margin-left: 50px;
  margin-right: 50px;
}

#nav-p-user:hover {
  background-image: url('../../assets/backgrounds/bg-27.gif');
  color: var(--text-white);
  text-shadow: 1px 1px 1px black;;
}

#nav-p-log:hover {
  background-image: url('../../assets/backgrounds/staticbackground-1.gif');
  color: var(--text-white);
  text-shadow: 1px 1px 1px black;;
}

#login-link {
  color: var(--text-red);
}

#login-link:hover {
  color: var(--text-white);
  text-shadow: 1px 1px 1px black;;
}

#username {
  color: var(--text-red);
  text-align: center;
}

#username:hover {
  color: var(--text-white);
  text-shadow: 1px 1px 1px black;;
}

#logout-btn {
  color: var(--text-red)
}

#logout-btn:hover {
  color: var(--text-white);
  text-shadow: 1px 1px 1px black;;
}
