.page-main {
    border: 1px dashed white;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 111px;
    margin-right: 111px;
    padding-left: 77.7px;
    padding-right: 77.7px;
}

.pr-main {
    display: flex;
}

.dayjs {
    color: red;
}

#user-link {
    color: red;
}

.page-username {
    color: white;
}
.page-title {
    color: white;
}
.page-text {
    color: white;
}
.date-created {
    color: white;
}