.pr-main {
    display: flex;
}

.dayjs {
    color: red;
}

#user-link {
    color: red;
}

.page-username {
    color: white;
}
.page-title {
    color: white;
}
.page-text {
    padding-left: 77.7px;
    padding-right: 77.7px;
    color: white;
}
.date-created {
    color: white;
}