body {
  background-color: black;
  margin: 0;
  position: relative;
  min-height: 100%;
}

.page-main {
  padding-bottom: 2.5rem; 
}

:root {
  --text-red: red;
  --text-darkred: darkred;
  --text-white: white;
}